/* Group 1 */


position: absolute;
width: 151px;
height: 144px;
left: 655px;
top: 210px;



/* Rectangle 1 */


position: absolute;
width: 374px;
height: 16px;
left: 155px;
top: 289px;

background: #FAE0A1;


/* Learn the mechanism of a pin tumbler lock through cooperative learning */


position: absolute;
width: 478px;
height: 163px;
left: 155px;
top: 161px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 48px;

color: #000000;



/* The flow of the moudle 1. Individual Learning 2. Discuss and share 3. Summative Assessment 4. Peer-evaluation */


position: absolute;
width: 366px;
height: 246px;
left: 155px;
top: 377px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;

color: #353535;



/* Rectangle 4 */


position: absolute;
width: 380px;
height: 73px;
left: 180px;
top: 647px;

background: #F4C042;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;


/* Start the course */


position: absolute;
width: 311px;
height: 58px;
left: 239px;
top: 662px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;

color: #FFFFFF;



/* image 1 */


position: absolute;
width: 99px;
height: 147px;
left: 757px;
top: 255px;

background: url(image);


/* lineframe */


position: absolute;
width: 652.03px;
height: 334px;
left: 686px;
top: 402px;



/* 1. You are responsible for teaching your peer and your peer is responsible for teaching you. 2. The success and grade of your learning depends on each other. Your final grade will be 80% of your final quiz and 20% of your teaching quality peer-evaluation. */


position: absolute;
width: 604px;
height: 304px;
left: 719px;
top: 432px;

font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 38px;

color: #F9BC28;



/* ATTENTION: */


position: absolute;
width: 213px;
height: 71px;
left: 884px;
top: 331px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;

color: #000000;
